.container {
    width: 100%;
}
.row{
   display: flex; 
   
}

.header, .post-title {
    text-align: center;
}

.card {
    width: 20rem;
    margin-top: 3rem;
}

.post {
    border-style: solid;
    padding: 2rem;
    width: 60%;
}


