.container {
    width: 100%;
}
.row{
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   
}

.header, .post-title {
    text-align: center;
}

.card {
    width: 18rem;
    margin-top: 3rem;
    border-style: solid;
    padding: 2rem;
}

.post {
    
    width: 60%;
}


